{% extends 'layout.html' %}
{% block content %}
<div class="mt-10">
<h2 class="text-xl">{{ product.name }}</h2>
<img src="{{ url_for('static', filename=product.picture) }}" alt="" srcset="">
<p>{{ product.description }}</p>
{{ product.picture_url }}
<div>Purchase</div>

<div class="mt-4">
    <div class="flex justify-between items-center flex-wrap">
        <a href="{{ url_for('products.edit', product_id=product.id) }}" class="bg-gray-900 px-3 py-2 text-sm rounded text-white">Edit</a>
        <span class="ml-4 bg-purple-500 px-4 py-1 text-white rounded">
            <a href="{{ url_for('stores.show', store_slug=product.store.slug) }}">{{ product.store.name }}</a>
        </span>
    </div>
    


</div>
</div>
{% endblock %}