{% extends 'base.html' %}
{% from "macros/_form.html" import render_field %}

{% block page_content %}

<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  {#   <div class="sm:mx-auto sm:w-full sm:max-w-md">#}
  {#    <img class="mx-auto h-12 w-auto" src="/img/logos/workflow-mark-on-white.svg" alt="Workflow" />#}
  {#  </div>#}

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    {% include "macros/_alert.html" %}
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form action="{{ url_for('users.login') }}" method="POST">
        {{ form.csrf_token }}

        {{ render_field(form.email, placeholder="Email address") }}
        <div class="mt-6">
          {{ render_field(form.password, placeholder="Password") }}
        </div>

        <div class="mt-6 flex items-center justify-between">
          <div class="flex items-center">
            <input id="remember_me" type="checkbox" name="remember"
              class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" />
            <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900">
              Remember me
            </label>
          </div>

          <div class="text-sm leading-5">
            <a href="#"
              class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
              Forgot your password?
            </a>
          </div>
        </div>

        <div class="mt-6">
          <span class="block w-full rounded-md shadow-sm">
            <button type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
              Sign in
            </button>
          </span>
        </div>
      </form>

      <div class="mt-6">
        <p class="mt-2 text-center text-sm leading-5 text-gray-600 max-w">
          <a href="{{ url_for('users.register') }}"
            class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
            Don't have an account?
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}